*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html,body{
	width:100%;
    height: 100%;
}
body{
	font-size: 0.14rem;
	font-family:"Microsoft Yaihei";
}
.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
@font-face{
	font-family: 'iconfont';
	src:url('../iconfont/iconfont.woff') format('woff');
}
.iconfont{
	font-family: 'iconfont';
	font-size:1rem;
	color:#fff;
	font-weight: bold;
}
.page1{
	background-color: #e6e9ee;
	width:100%;
	text-align: center;
}
.page1 h1{
	text-align: center;
	font-size: 0.8rem;
	color:#888;
	margin-top: 4.2rem;
}
.page1 .hr{
	width:8.8rem;
	height:0.01rem;
	background-color: rgba(60,60,60,0.4);
	margin:0 auto;
	margin-top: 0.7rem;
}
.page1 .cat{
	margin-top: 1rem;
}
.page1 .cat img{
	width:4.03rem;
	height:4.03rem;
}
.push-down img{
	width:100%;
}
.push-down{
	position: absolute;
	bottom:0.3rem;
	left:50%;
	margin-left: -4%;
	width:13%;
	z-index:13;
	display: block;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}
.page2{
	background-image: url(../images/page2-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.page2 .bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(../images/snow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.page2 .christmas{
	width:50%;
	height:13%;
	margin:10% auto;
}
.page2 .christmas img{
	width:100%;
	height:100%;
}
.page2 .page2-cat{
	width:37%;
	height:18%;
	margin-top: 48.5%;
	margin-left: 51%;
}
.page2 .page2-cat img{
	width:100%;
	height:100%;
}
.page2 .msg{
	width:48%;
	height:43%;
	margin-top: -76.5%;
	margin-left: 12%;
}
.page2 .msg img{
	width:100%;
	height:100%;
}
.page2 .gift{
	width:23%;
	height:17%;
	float:left;
	margin-left: 8%;
	margin-top:21%;
}
.page2 .gift img{
	width:100%;
	height:100%;
}
.page3{
	background-image: url(../images/page2-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.page3 .bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(../images/snow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.page3 .page3-title{
	width:76%;
	height:16%;
	margin:10% auto;
}
.page3 .page3-title img{
	width:100%;
	height:100%;
}
.page3 .page3-cat{
	width:57%;
	height:28%;
	margin-top: 28%;
	margin-left: 25%;
}
.page3 .page3-cat img{
	width:100%;
	height:100%;
}
.page4{
	background-image: url(../images/page2-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.page4 .bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(../images/snow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.page4 .page4-title{
	width:68%;
	height:16%;
	margin:10% auto;
}
.page4 .page4-title img{
	width:100%;
	height:100%;
}
.page4 .cartoncat1{
	width:53%;
	height:25%;
	margin-top: -36.5%;
	margin-left: 23.5%;
}
@keyframes carton{
	0%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
.page4 .cartoncat1 img{
	width:100%;
	height:100%;
	opacity: 0.5;
	animation-name: carton;
	animation-duration: 5s;
}
.page4 .cartoncat2{
	width:67%;
	height:30%;
	margin-top: 17.5%;
	margin-left: 16%;
}
.page4 .cartoncat2 img{
	width:100%;
	height:100%;
}
.page4 .page4-scat2{
	width:18%;
	height:7%;
	margin-top:-46%;
	margin-left: 56%;
	position:relative;
	z-index: 2;
}
.page4 .page4-scat2 img{
	width:100%;
	height:100%;
}
.page4 .page4-scat1{
	width:16%;
	height:7%;
	margin-top:-12.5%;
	margin-left: 26%;
	position:relative;
	z-index: 2;
}
.page4 .page4-scat1 img{
	width:100%;
	height:100%;
}
.page5{
	background-image: url(../images/greenbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.page5 .bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(../images/snow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.page5 .page5-title{
	width:70%;
	height:15%;
	margin:-72.5% auto;
}
.page5 .page5-title img{
	width:100%;
	height:100%;
}
.page5 .cat-scarf{
	width:50%;
	height:23%;
	margin-top: 108%;
	margin-left: 35%;
}
.page5 .cat-scarf img{
	width:100%;
	height:100%;
}
.page5 .fox{
	width:34%;
	height:18%;
	margin-top: -34%;
	margin-left: 7%;
}
.page5 .fox img{
	width:100%;
	height:100%;
}
.page5 .Hedgehog{
	width:19%;
	height:15%;
	margin-top: 8%;
	margin-left: 70%;
}
.page5 .Hedgehog img{
	width:100%;
	height:100%;
}
.page5 .snowman{
	width:45%;
	height:41%;
	margin-top: 40%;
	margin-left: 4%;
}
.page5 .snowman img{
	width:100%;
	height:100%;
}
.page5 .greenbg{
	position: absolute;
	top:29%;
	left:0%;
	width:97%;
	height:48%;
}
.page5 .greenbg img{
	width:100%;
	height:100%;
}
.page5 .Santa-Claus{
	width:31%;
	height:31%;
	margin-top: -67%;
	margin-left: 41%;
}
.page5 .Santa-Claus img{
	width:100%;
	height:100%;
}
.page5 .donkey{
	width:23%;
	height:18%;
	margin-top: -51%;
	margin-left: 61%;
}
.page5 .donkey img{
	width:100%;
	height:100%;
}
.page6{
	background-image: url(../images/greenbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.page6 .last-cat{
	width:82%;
	height:64%;
	margin:27% auto;
}
.page6 .last-cat img{
	width:100%;
	height:100%;
}